<h1>投稿数の前日比・前週比</h1>
<table>
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= today.count %></td>
      <td><%= yesterday.count %></td>
      <td><% if yesterday.count == 0 %>
        前日の投稿数は0です
       <% else %>
       　<% today.count / yesterday.count * 100 %>
       <% end %></td>
    </tr>
  </tbody>
</table>