<div class = text-center>7日間の投稿数の比較</div>
<canvas id="myChart" width="300" height="100"> </canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
        datasets: [{
            label: "投稿した本の数",
            data: <%= books.past_week_count %>,
            tension: 0.5,
            fill: false
        }]
    },

    options: {
        scales: {
          y: {
            display: true,
            suggestedMin: 0,
            suggestedMax: 10,
            beginAtZero: true,
            ticks: {
              stepSize: 1,
            }
          }
        }
    }
});                  
</script>